results.txt
runner*
*.sw*
*0
*Debug*
*Release*
*DebugStatic*
*ReleaseStatic*
*ipch*
*.user
*.opensdf
*.sdf
*.suo
*~
a.out
a.exe
*.libs*
*.la
*.deps*
*.dirstamp*
*.lo
*.o
*.a
*.la
Makefile.in
config.guess
config.log
config.status
config.sub
configure
*AUTHORS*
*COPYING*
*ChangeLog*
*INSTALL*
*NEWS*
*README*
*aclocal.m4*
*ar-lib*
*autom4te.cache*
*config.h.in*
*depcomp*
*install-sh*
*libtool*
*ltmain.sh*
*m4*
*missing*
*stamp-h1*
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
*.pyc
*.idea
compile
valgrind.xml
x64/
Win32/
debug/
release/
bin/
unit_test_*
filters*
a.out
.deps/*
*/build/AUTHORS
*/build/ChangeLog
*/build/Makefile.in
*/build/NEWS
*/build/README
*/build/aclocal.m4
*/build/ar-lib
*/build/autom4te.cache/output.0
*/build/autom4te.cache/output.1
*/build/autom4te.cache/output.2
*/build/autom4te.cache/requests
*/build/autom4te.cache/traces.0
*/build/autom4te.cache/traces.1
*/build/autom4te.cache/traces.2
*/build/compile
*/build/config.guess
*/build/config.h
*/build/config.h.in
*/build/config.log
*/build/config.status
*/build/config.sub
*/build/configure
*/build/depcomp
*/build/install-sh
*/build/libtool
*/build/ltmain.sh
*/build/m4/libtool.m4
*/build/m4/ltoptions.m4
*/build/m4/ltsugar.m4
*/build/m4/ltversion.m4
*/build/m4/lt~obsolete.m4
*/build/missing
*/build/stamp-h1
*/Debug/*
*/Release/*
*.sdf
*.sln
*.suo
*.a*
*.la*
*.swp
*.orig
*.vcxproj*
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
build/tests/
*.trs
*.log
tests/check_math
tests/check_numbers
tests/check_operations
tests/check_planes
tests/check_type_color
tests/check_type_matrix
tests/check_type_point
tests/check_type_texcoord
tests/check_type_vector
